body {
    background-color: black;
}

.calculatorContainer {
    width: 500px;
    height: 600px;
    background-color: #435058;
    padding: 1px;
}

.screenContainer {
    width: 448px;
    height: 150px;
    background-color: #BFB7B6;
}

p {
    font-size: 45px;
}

.buttonsContainer {
    margin: 0px 26px;
}

button {
    width: 90px;
    padding: 15px 0px;
    margin: 5px 3px;
    border-radius: 25px;
    border-style: none;
}

.nums button{
    margin-right: 24px;
}

.calculate {
    background-color: #848C8E;
}

.operator {
    background-color: #DCF763;
}

.is-depressed {
    background-color: #8d9f3f;;
    color: white;
    border: #435058;
    transform: scale(0.95);
  }