.calculatorContainer {
    width: 500px;
    height: 600px;
    background-color: #435058;
    padding: 1px;
}

.screenContainer {
    width: 448px;
    height: 150px;
    background-color: #BFB7B6;
}

p {
    font-size: 45px;
}

.buttonsContainer {
    margin: 0px 26px;
}

button {
    width: 90px;
    padding: 15px 0px;
    margin: 3px 3px;
    border-radius: 25px;
    border-style: none;
}

.btn2 {
    background-color: #848C8E;
}

.btn3 {
    background-color: #DCF763;
}